<ion-content [fullscreen]="true">
  <div class="overlay-background">
    <div class="content">
      <p>Welcome to</p>
      <h1>FriendFinder</h1>
    </div>
  </div>
  <ion-item-divider color="inherit"></ion-item-divider>
  <section>
    <ion-button size="large" expand="block" color="primary">Continue with <ion-icon slot="end" name="logo-facebook"></ion-icon></ion-button>
    <ion-item-divider color="inherit"></ion-item-divider>
    <ion-button routerLink="/login" size="large" expand="block" color="light">Regular login</ion-button>
  </section>
  <section>
    <header>
      <a class="color" routerLink="/register">Create an account</a>
    </header>
  </section>
</ion-content>
