<ion-content [fullscreen]="true">
  <ion-item-divider color="inherit"></ion-item-divider>
  <h1>Let's create your account.</h1>
  <ion-grid>
    <ion-row>
      <ion-col>
        <label for="username">Your name.</label>
        <input [(ngModel)]="registerUser.name" id="username" type="text" placeholder="John Smith">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <label for="email">Your e-mail address.</label>
        <input [(ngModel)]="registerUser.email" id="email" type="email" placeholder="hello@google.com">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <label for="email">Create a secure password.</label>
        <input [(ngModel)]="registerUser.password" id="password" type="password" placeholder="notsafe123!">
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-item-divider color="inherit"></ion-item-divider>
  <ion-button (click)="createAccount()" expand="block" [disabled]="registerButtonLoading" color="light" size="large">{{ registerButtonText }}</ion-button>
  <ion-item-divider color="inherit"></ion-item-divider>
  <header>
    <a routerDirection="back" routerLink="/">Back to summary</a>
  </header>
</ion-content>

